# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Environment
.env

# Data
data/raw/
data/processed/
data/exports/

# Spark
spark-warehouse/
metastore_db/
checkpoints/

# OS
.DS_Store
Thumbs.db